html, body { padding: 0; margin: 0; background: #f2f2f2; color: #555; }
p { font-size: 22px; }
blockquote { background: #f9f9f9; border-left: 10px solid #ccc; margin: 1.5em 0; padding: .5em 10px; line-height: 1.8em; color: #777; }
.Container { width: 1000px; margin: auto; font-family: 微软雅黑; }
.Top { margin: auto; width: 350px; }
.Top_Img { width: 100%; margin: auto; }
.C_One img { width: 60%; }
.C_T_Img { width: 90%; }
.C_Four a { background: #ffc000; color: White; text-decoration: none; }
.C_F_Img { width: 70%; }
